{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">

    <!-- Author information -->
{#    <div class="media">#}
{#        <img class="d-flex mr-3 rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">#}
{#        <div class="media-body">#}
{#            <h4 class="mt-0"><a href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a></h4>#}
{#            <h6 class="mt-0">{{ object.author.email }}</h6>#}
{#        </div>#}
{#    </div>#}
{#    <hr>#}

    <!-- Post information -->
    <div>
        <h1 class="mt-4">{{post.full_name}}</h1>
    </div>
    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
    <hr>

    <!-- Post Content -->
    <p class="lead">{{ object.content|safe|linebreaks }}</p>


</div>
{% endblock content %}